.admin-section {
  background: #ffffff;
  padding-top: 155px;
}
.panel-heading-custom {
  padding: 5px 5px 25px 20px !important;
}
.padding-0 {
  padding: 0px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.custom-list {
  max-height: 250px;
  overflow-y: scroll;
}
.color-custom {
  color: #FFF !important;
}
