<%= provide :title, t(".title") %>
<%= provide :submit_button, t(".btn_update") %>
<section id="service" class = "admin-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 padding-0 margin-bottom-20">
        <h2 class="title-form"><%= t ".title" %></h2>
        <%= render "form" %>
      </div>
    </div>
  </div>
</section>
